@use 'variables';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	color: variables.$dark;
	font-family: variables.$font-family-sans;
}

.container {
	max-width: 1220px;
	padding: 0 1rem;
	margin: 3rem auto;
}