.c-report {
	background-color: #f3f3f3;
	border-radius: 8px;
	margin-bottom: 3rem;
	padding: 1.5rem;
	display: flex;
}

.c-report__header {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.c-report__date {
	font-size: 1rem;
	font-weight: 700;
}

.c-report__section:not(:last-child) {
	margin-bottom: 1.5rem;
}

.c-report__section p {
	margin-bottom: 0;
}

.c-report__section-title {
	margin-bottom: 0.5rem;
}