<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/javascripts/main.js" type="module"></script>
    <script src="/javascripts/main-legacy.js" nomodule="true" defer="true"></script>
  </body>
</html>
