.c-comments {
	background-color: #f3f3f3;
	border-radius: 4px;
	margin-bottom: 33px;
	overflow: hidden;
	padding: 20px;
	word-break: break-word;
}

.c-comments__text {
	h3 {
		font-size: 13px;
		text-transform: uppercase;
	}
}
